.fitzModelContainer {
    position: absolute;
    right: 10%;
    top: 50%;

    display: flex;
}

.the-intern {
    width: 20vh;
}

.career-bear-prompt {
    width: 100%;
    height: 100%;
    margin-block: 10vh;
}

.career-bear-prompt--content {
    margin-inline: 10vw;
    justify-content: flex-end;
    display: flex;
}

.content--text-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

.content--text {
    background-color: #fff8f3;
    border-radius: 25px;
    border: 1px solid #6c4c41;
    padding: 5%;
    font-size: larger;

    max-width: 300px;

    transition: 5ms;
}

.content--user-interface {
    width: 80%;
}