.question-component{
    display: flex;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2.98256px 7.4564px 5px rgba(0, 0, 0, 0.1);

    min-height: 55vh;
    min-width: 40vh;
    max-width: 100vh;
    width: 60%;

    padding: 5vh 5vw 0vh 5vw;
    margin-block: 5vh;

    align-self: center;
    flex-direction:column; 
    flex:1;
}

.question-component--content{
    padding-top: 5vh;
}



.buttons-navigation{
    margin-top:auto;
    padding-bottom: 1vh;
    vertical-align:bottom;
    flex-wrap:wrap;
    justify-content: space-between;
}

#back-button{
    float:left;

}
#forward-button{
    float:right;
}