.personality-tab  {
    height: 80%;
    min-width: 80%;
    background-color: inherit;
}

.personality-tab--content {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 50px;
}

.personality-trait-container {
    max-width: 250px;
    min-height: 100px;
    margin: 10%;
}