.personality-tab-container{
    position: flex; 
    padding: 10px;
    max-width: 1275px;
}

.personality-tab-container-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    height: 100%;
}

.personality-tab--content{
    flex-basis: 50%;
    flex-wrap: wrap;
    display: flex;
    text-align: left; 
    max-height: 250px;
    max-width: 400px;
    min-height: 100px;
    min-width: 300px;
}

.personality-row{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    column-gap: 25px;
    row-gap: 25px;
}

.personality-header-content{
    max-height: auto;
}

.personality-text-explaination{
    font-style: italic;
    max-height: auto;

}

.personality-logic-test{
    max-height: auto;
}