.metric-display {
    border-radius: 15px;
    background-color: #FFF6EC;
    box-shadow: 0px 2.98256px 7.4564px 5px rgba(0, 0, 0, 0.1);

    width: 50vw;
    min-height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}