.manilla-folder{
  position: flex;
  background-color: #f2f2f2;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10%; 
  max-width: 1275px;
  max-height: 950px;
}

.tabs-content{
  text-align: left;
  padding: 10px;
  max-height: 600px; 
}

.column-container{
  align-items: center;
  display: block;
  padding: 10px;
}

.tabs-title-text{
  font-weight: bold;
  color: #6c4c41;
}

.personality-header{
  padding-top: 20px;
}
