.career-tab-containers{
    position: flex;
    padding: 15px;
    max-width: 1275px;
    align-items: center;
}

.careertab-paragraphstyle{
    text-align: left;
    padding:5px;
}

ul {
    list-style-type: disc;
    padding-left: 30px;
}
  
li {
    margin-bottom: 5px;
}

.career-tab--job:hover {
    text-decoration: underline;
}